/****************************************************************
 * The styles are ordered from top of the webpage to the bottom *
 ****************************************************************/


/* Font type support */
@font-face {
    font-family: 'Avenir';
    src: url('https://github.com/jenntang1/jenntang1.github.io/blob/master/fonts/Avenir-Book.ttf') format('truetype');
  }


/* Clicking on header image brings user to the top */
html {
    scroll-behavior: smooth;
}


/* Style for headers */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #336699;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}


/* Style for body and default font style */
body {
    /* margin-top: 80px;
    padding: 50px;
    height: 125vh; */
    font-family: 'Avenir';
    color: #262626;
}


/* Style for header/navigation bar */
header {
    position: fixed;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px 0 #262626;
}

/* Style for header name */
#header_svg {
    position: relative;
    margin: 0 auto;
    width: 164px; 
    top: 50%;
    transform: translateY(-50%);
}

#header_shape {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -474;
    stroke-width: 1px;
    stroke: #336699;
    border-radius: 100%;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#header_svg:hover #header_shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
    border-radius: 100%;
}

#header_text {
    position: absolute;
    width: 164px;
    height: 164px;
    top: 0;
    left: 0;
    line-height: 164px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Avenir';
    font-size: 20px;
    color: #262626;
}

#header_text a {
    text-decoration: none;
    font-weight: normal;
    color: #262626;
}


/* Style for Contact */
#hello {
    margin: 0 auto;
    padding-top: 300px;
    width: 500px;
    height: 300px;
}


/* Style for About */
#about {
    margin: 0 auto;
    width: 600px;
    height: 500px;
}
 
#profile_image {
    width: 200px;
    height: 200px;

}

#about_left {
    width: 200px;
    height: 200px;
    float: left;
}

#about_right {
    padding-top: 20px;
    padding-left: 30px; 
    width: 300px; 
    height: 200px;
    float: left;
}

.clear {
    clear: both;
}

/* Style for Portfolio */
.portfolio a {
    text-decoration: none;
    font-weight: bold;
    color: #262626;
}


/* Style for Resume */
#resume {
    margin: 0 auto;
    width: 500px;
    height: 200px;
    float: center;
}

#resume_pdf {
    text-decoration: none;
    font-weight: bold;
    color: #262626;
}


/* Style for Contact */
#contact {
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

#contact_left {
    width: 330px;
    height: 100px;
    float: left;
}

#contact_right {
    width: 400px;
    height: 100px;
    float: left;
}


/* Style for socal media links */
#contact_right a {
    display: inline-block;
    margin: 0 10px;
    padding: 6px;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    list-style-image: none;
    text-align: center;
    border-radius: 30%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
}
  
#contact_right a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
  
#contact_right a .fa {
    display: inline-block;
    line-height: calc(40px - 12px);
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: #FFFFFF;
    font-size: 24px;
    color: #262626;
    transition: .5s;
}
  
#contact_right a:hover .fa {
    color: #336699;
}


/* Style for footer/"copyright" information */
footer {
    display: flex;
    height: 10%;
	justify-self: center;
	justify-content: center;
	align-content: center;
    overflow: visible;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #262626;
}