/* Styles for jennifer-tang.com */
header {
    background-color:#FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: right;
    box-shadow: 0 0 25px 0 #000000;
}

#navbar {
    overflow: hidden;
    background-color: #FFFFFF;
}

#navbar a {
    float: center;
    display: block;
    color: #336699;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    color: #336699;
}

#navbar a.home {
    color: #336699;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 60px;
}

.name {
    width: 150px;
    height: 50px;
    border: 3px solid #333;
    font-family: 'Avenir LT W01 85 Heavy';
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}
  
.name::before, .name::after {
    position: absolute;
    background: #FFFFFF;
    z-index: -1;
    transition: 1s;
    content: '';
}
  
.name::before {
    height: 50px;
    width: 130px;
}
  
.name::after {
    width: 150px;
    height: 30px;
}
  
.name:hover::before {
    width: 0px;
    background: #FFFFFF;
}
  
.name:hover::after {
    height: 0px;
    background: #FFFFFF;
}
  
.name:hover {
    background: #FFFFFF;
}

body {
    height: 125vh;
    font-family: 'Avenir LT W01 45 Book';
    margin-top: 80px;
    padding: 30px;
}

main {
    color: #336699;
}
